/* line 17, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 61, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%; }

/* line 64, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em; }

@font-face {
  font-family: "ReenieBeanie";
  src: url("fonts/ReenieBeanie.ttf"); }

/* line 45, base.css.scss */
body {
  background: #F8F9E6; /*248, 249, 230 */
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 51, base.css.scss */
h1, h2 {
  color: #DE4632; }

/* line 55, base.css.scss */
h1 {
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 0em; }

/* line 60, base.css.scss */
.subtitle {
  font-style: italic;
  color: #DE4632;
  margin-bottom: 1.5em; }

/* line 66, base.css.scss */
.top-buy-now {
  float: right;
  display: block;
  background: #DE4632;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0 .5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em; }

/* line 78, base.css.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.33333em; }

/* line 82, base.css.scss */
#teaser {
  padding-bottom: 1.5em; }

/* line 88, base.css.scss */
p {
  margin-bottom: 1.5em; }

/* line 92, base.css.scss */
strong {
  background: #f8f9d3; }

/* line 96, base.css.scss */
blockquote {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  margin-bottom: 1.5em;
  overflow: hidden;
  *zoom: 1; }
  /* line 100, base.css.scss */
  blockquote cite {
    font-style: italic; }
  /* line 104, base.css.scss */
  blockquote .pic {
    float: left;
    background: white;
    border-left: 1px solid #ebf2ec;
    border-bottom: 1px solid #ebf2ec;
    padding: 1em;
    height: 48px;
    margin-top: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  /* line 115, base.css.scss */
  blockquote .content {
    background: #ebf2ec;
    padding: 0 1em;
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    margin-left: 72px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }

/* line 126, base.css.scss */
.diagram {
  margin-bottom: 1.5em;
  text-align: center; }
  /* line 129, base.css.scss */
  .diagram .caption {
    font-style: italic; }

/* line 136, base.css.scss */
.title {
  margin-top: 0.4em;
  text-align: center;
  letter-spacing: -3px;
  font-family: 'Nothing You Could Do', cursive;
  color: white; }

/* line 144, base.css.scss */
#your-stuff {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-top: 1.5em; }
  /* line 148, base.css.scss */
  #your-stuff .divider {
    margin-bottom: 1.5em; }

/* line 153, base.css.scss */
.posts {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline; }
  /* line 155, base.css.scss */
  .posts .post {
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 0 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    /* line 163, base.css.scss */
    .posts .post header {
      padding-bottom: 1.5em;
      margin-bottom: 1.5em;
      overflow: hidden;
      *zoom: 1;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc; }
      /* line 169, base.css.scss */
      .posts .post header .author {
        float: left; }
      /* line 172, base.css.scss */
      .posts .post header .date {
        float: right; }

/* line 179, base.css.scss */
.page {
  *zoom: 1;
  max-width: 44em;
  _width: 44em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  background: white; }
  /* line 38, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .page:after {
    content: "";
    display: table;
    clear: both; }

/* line 187, base.css.scss */
#mugshot {
  float: right;
  margin-left: 1em; }

/* line 192, base.css.scss */
#book-tweet {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }

/* line 197, base.css.scss */
#banner {
  width: 100%;
  background: #DE4620; /*#BA6566; /*#880000; /* #DE846E; /*  /*rgb(222, 70, 32); /*  /*# 222, 132, 110*/
  color: white; }
  /* line 201, base.css.scss */
  #banner .content {
    padding-top: 0.50em;
    padding-bottom: 0.50em;
    *zoom: 1;
    max-width: 44em;
    _width: 44em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em; }
    /* line 38, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #banner .content:after {
      content: "";
      display: table;
      clear: both; }
    /* line 206, base.css.scss */
    #banner .content a {
      color: white;
      text-decoration: none; }
    /* line 211, base.css.scss */
    #banner .content .author {
      font-size: 1.125em;
      line-height: 1.33333em; }
    /* line 214, base.css.scss */
    #banner .content .about {
      font-size: 0.625em;
      line-height: 2.4em; }

/* line 221, base.css.scss */
#toc {
  width: 100%;
  margin-bottom: 1.5em; }
  /* line 224, base.css.scss */
  #toc td {
    border-bottom: 1px dotted #ccc; }
    /* line 226, base.css.scss */
    #toc td:first-child {
      text-indent: 1em; }
    /* line 229, base.css.scss */
    #toc td:last-child {
      text-align: right; }
  /* line 233, base.css.scss */
  #toc .main:first-child {
    text-indent: 0;
    font-weight: bold; }
  /* line 238, base.css.scss */
  #toc tr:last-child td {
    border-bottom: none; }

/* line 243, base.css.scss */
#buy-now a {
  display: block;
  background: #DE4632;
  color: white;
  font-size: 1.875em;
  line-height: 1.6em;
  margin-bottom: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px; }

/* line 256, base.css.scss */
#credits {
  margin-bottom: 1.5em;
  *zoom: 1;
  max-width: 44em;
  _width: 44em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  color: #91927c; }
  /* line 38, ../../../../.rvm/gems/ruby-1.9.3-preview1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #credits:after {
    content: "";
    display: table;
    clear: both; }
  /* line 262, base.css.scss */
  #credits a {
    color: #787967;
    text-decoration: none; }

#mc_embed_signup input.button {
display: block;
width: 35%;
margin: 0 0 10px 0;
min-width: 90px;
}
#mc_embed_signup .button {
clear: both;
background-color: #800;
border: 0 none;
border-radius: 4px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-size: 15px;
font-weight: bold;
height: 32px;
line-height: 32px;
margin: 0 5px 10px 0;
padding: 0;
text-align: center;
text-decoration: none;
vertical-align: top;
white-space: nowrap;
width: auto;
}

#mc_embed_signup input.email {
display: block;
padding: 8px 0;
margin: 0 4% 10px 0;
text-indent: 5px;
width: 58%;
min-width: 130px;
}
#mc_embed_signup input {
border: 1px solid #999;
-webkit-appearance: none;
}
